<!-- intro start -->
		<div id="intro">
			<div class="container">
				<div class="row">
					<div class="col-xs-3">
						<img src="images\moveMe.png" class="img-responsive" id="imgintro">
					</div>
					<div class="col-xs-9">
						<h1>Blog</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- intro end -->
		
		<!-- contenido start -->
		<div class="container padded">
			<div class="row">
				<div class="col-sm-8 blog">
					<section><h1><a href="#">Mejores características</a></h1>
						<p class="lead"><a href="#/inicio">Infinito</a></p>
						<hr><p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Post 22 Diciembre 2015</p>
						<hr><img class="img-responsive" src="images\blog1.jpg" alt="">
						<hr>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere in obcaecati culpa consequatur, quo, beatae ipsa porro nemo asperiores impedit quaerat dolorem tenetur fugit cupiditate cum eligendi. Repellendus, dolores, est.</p>
						<a href="#" class="btn btn-primary">Leer más &raquo;</a>
						<hr>
					</section>
					<br><br>
					<section><h1><a href="#">Mayor velocidad</a></h1>
						<p class="lead"><a href="index.html">Blablabla</a></p>
						<hr><p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Post 9 Diciembre 2015</p>
						<hr><img class="img-responsive" src="images\blog2.jpg" alt="">
						<hr>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere in obcaecati culpa consequatur, quo, beatae ipsa porro nemo asperiores impedit quaerat dolorem tenetur fugit cupiditate cum eligendi. Repellendus, dolores, est.</p>
						<a href="#" class="btn btn-primary">Leer más &raquo;</a>
						<hr>
					</section>
					<br><br>
					<section><h1><a href="#">Ñeñeñeñe</a></h1>
						<p class="lead"><a href="index.html">Aeiou</a></p>
						<hr><p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Post 17 Noviembre 2015</p>
						<hr><img class="img-responsive" src="images\blog3.jpg" alt="">
						<hr>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere in obcaecati culpa consequatur, quo, beatae ipsa porro nemo asperiores impedit quaerat dolorem tenetur fugit cupiditate cum eligendi. Repellendus, dolores, est.</p>
						<a href="#" class="btn btn-primary">Leer más &raquo;</a>
						<hr>
					</section>
					<!-- pagination start -->
					<nav class="text-center">
						<ul class="pagination">
						    <li>
						      <a href="#" aria-label="Previous">
						        <span aria-hidden="true">&laquo;</span>
						      </a>
						    </li>
						    <li class="active"><a href="#">1</a></li>
						    <li><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						    <li>
						      <a href="#" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						</ul>
					</nav>
					<!-- pagination end -->
				</div>
				<div class="col-sm-4 sidebar">
					<section>
						<h3 class="tpad">Buscador</h3>
						    <div class="input-group input-group-lg">
						      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
						      <input type="text" class="form-control" placeholder="Buscar...">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="button">Ir</button>
						      </span>
						    </div>
						    <br>
						    <div class="input-group input-group-lg">
						      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						      <input type="text" class="form-control" placeholder="Nombre">
						    </div>
						    <br>
						    <div class="input-group input-group-lg">
						      <input type="text" class="form-control" placeholder="Esto es un atraco">
						      <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
						    </div>
					</section>
					<br>
					<section>
						<div class="list-group">
							<a href="#" class="list-group-item"><span class="badge">14</span>Todos</a>
							<a href="#" class="list-group-item"><span class="badge">4</span>Velocidad</a>
							<a href="#" class="list-group-item"><span class="badge">8</span>Ecológico</a>
							<a href="#" class="list-group-item"><span class="badge">10</span>Escénico</a>
							<a href="#" class="list-group-item"><span class="badge">3</span>Seguridad</a>
							<a href="#" class="list-group-item"><span class="badge">13</span>Novedad</a>
						</div>
					</section>
					<section>
						<h3 class="tpad">Últimos tweets</h3>
						<div class="media tpad">
							<a href="#" class="pull-left">
								<img src="images/user.jpg" class=" media-object" alt="">
							</a>
							<div class="media-body">
								<h4 class="media-heading">@antonio</h4>
								<p class="bpad">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quasi minima harum, eligendi dolores saepe ipsa non accusamus voluptatum libero quo enim tempora, fuga deleniti atque incidunt adipisci quia. Perspiciatis?</p>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<!-- contenido end -->

		<!-- marketing start -->
		<div class="marketing">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<img class="img-responsive" src="images/app.png">
					</div>
					<div class="col-sm-6">
						<h3>SIEMPRE A MANO</h3><hr>
						<p>Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit</b>. Sequi explicabo aperiam rerum, quos consequuntur voluptatem voluptatum debitis ea recusandae voluptatibus ab itaque hic eius iste nobis, eos reprehenderit quae saepe!</p>
						<a href="#" class="btn btn-large btn-warning">Quédatelo</a>
					</div>
				</div>
			</div>
		</div>
		<!-- marketing end -->

		<!-- panel info start -->
		<div class="info">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 tabbable">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#android" data-toggle="tab">Android</a></li>
							<li><a href="#bb" data-toggle="tab">Blackberry</a></li>
							<li><a href="#ios" data-toggle="tab">iOS</a></li>
							<li><a href="#win" data-toggle="tab">Windows</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade in active" id="android">
								<p>Android<br>
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
									<img width="200px" class="pull-right" src="http://icons.iconarchive.com/icons/igh0zt/ios7-style-metro-ui/512/MetroUI-Folder-OS-OS-Android-icon.png" alt="">
								</p>
							</div>
							<div class="tab-pane fade in" id="bb">
								<p>Blackberry<img width="200px" class="pull-right" src="http://img3.wikia.nocookie.net/__cb20140102013249/telefono/es/images/9/98/BlackBerry_OS.png" alt=""></p>
							</div>
							<div class="tab-pane fade in" id="ios">
								<p>iOS <img width="200px" class="pull-right" src="http://obc1982.hol.es/images/ios.png" alt=""></p>
							</div>
							<div class="tab-pane fade in" id="win">
								<p>Windows <img width="200px" class="pull-right" src="http://www.piedrasphones.com/images/tabs/windows.png" alt=""></p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-sm-offset-2">
						<blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed blanditiis veniam saepe autem harum quia commodi, sint consequuntur amet asperiores nostrum quidem, eos sit recusandae cupiditate repudiandae! Officiis, ea, minima.</p>
							<small>Kenny Jee, <cite>blaaaablabla</cite></small>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
		<!-- panel info end -->